.carousel-container {  margin-bottom: 2rem;}
.carousel {  display: flex;  overflow-x: auto;  gap: 1rem;  padding: 1rem; }
.carousel-item {  min-width: fit-content;  flex: 0 0 auto;  text-align: center;}
.carousel-item img {  height: 14rem; width: fit-content;  border-radius: 8px; }